/* Common share styles */
body {
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;
    /* margin: 0px 140px; */
}

/* h2{
    font-family: Merriweather;
} */


/* header releted styles */
.new-year-title {
    background-image: url('../resources/Banner\ Image.png');
    background-position: center;
    font-family: Merriweather;
    margin: auto;
    width: 1320px;
    height: 600px;
}

.happy-year {
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    width: 265px;
    height: 40px;
    padding-bottom: 0px;
    padding-top: 110px;
    padding-left: 530px;
    padding-right: 530px;
}

.party {
    color: #fff;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding-bottom: 200px;
    padding-left: 345px;
    padding-right: 345px;
}

/* main releted styles */

.parcent-div {
    margin-bottom: 120px;
}

.parcent {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.our-holi {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.all-catagory {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
}

.year-img {
    text-align: center;
}

/* welcome mid-night releted styles  */
.night-party-div {
    background-image: url(../resources/Vectorrr.png);
    width: 1320px;
    height: 600px;
    margin: auto;
    display: flex;
}

.welcome {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    font-family: Merriweather;
    width: 642px;
    text-align: left;
    padding-top: 70px;
    padding-left: 126px;
    margin-bottom: 24px;
}

.discrip {
    padding-left: 126px;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 697px;

}

.join {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 158px;
    padding-top: 48px;
}

.img2024 {
    padding-top: 76px;
    padding-right: 110px;
}

/* Place date time div styles */
.shedeule {
    background-color: #FFE9E9;
    width: 1320px;
    height: 482px;
    margin: auto;
    margin-top: 120px;
}

.date-time {
    color: #070211;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding: 100px 386px 0px 385px;

}

.date {
    color: #F00;
}

.btn-join {
    color: #fff;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    margin: 0px 608px 126px 609px;
    height: 56px;
    width: 167px;
}

/* best offer releted css */
.offer-full-view {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    width: 1320px;
    height: 482px;
    margin-left: 140px;


}

/* .offer-container {
    margin-left: 0px;
} */

.best-offer {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-top: 70px;
}

.coming {
    color: #070211;
    font-size: 48px;
    font-family: Merriweather;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;

}

.left-paragrap {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    width: 393px;
}

.outer-border {

    border-radius: 463px;
    border: 15px solid #F00;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.inner-border {
    border-radius: 463px;
    border: 40px solid #fff;
}

.img-ellipse {
    width: 363px;
    height: auto;
    border-radius: 50px;

}

.offer-last-contant {
    margin-left: 20px;
}

.y2024 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0px;
}

.right-paragrap {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
    margin-top: 0px;
}

/* holidays sale 50 ful div releted styles and image */
.whattitle {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0px;
}

.holiday-title {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    font-family: Merriweather;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 24px;
}

.holidaysspan {
    color: #F00;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

.holi-paragrap {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.holi-image-full-viwe {
    width: 1600px;
    height: 1200px;
    background: #FFF;
    margin: 0px 126px;
}

.holiday-all-img {
    display: flex;
    justify-content: space-evenly;
    background-image: url(../resources/Rectangle\ 2.png);
    background-position: bottom;
    width: 1320px;
    height: 229px;
    flex-shrink: 0;
    border-radius: 16px 0px 16px 16px;
}

.frist-img {
    margin-top: 100px;
    margin-left: 126px;
    margin-right: 0px;
}


/* awesome portfolio and img1-8 styles */
.siximg-awesome-full-viwe {
    margin: 0px 140px;
}

.best-gift {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.awesome-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 0px;
}

.discripti {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
    width: 896px;
}

.three-img-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 10px;
}


/* footer releted styles */